In [122]:
import pandas as pd
import json

In [16]:
NobelLaureates = pd.read_excel('../../Curso-Stat/tablas/Tables_CS109/NobelLaureates.xlsx')
NLsimple = NobelLaureates[['Country', 'Geographic Area']]

In [120]:
NumPrizesCountry = NLsimple.groupby(['Country', 'Geographic Area']).size()
NLcount = pd.DataFrame(NumPrizesCountry).reset_index(level = ['Country', 'Geographic Area'])
NLcount.columns = ['name', 'Geographic Area', 'num']
NLcount.head()

         name Geographic Area  num
0   Argentina   South America    5
1   Australia         Oceania   13
2     Austria          Europe   21
3  Azerbaijan            Asia    1
4  Bangladesh            Asia    1

In [121]:
continents = NLcount.groupby('Geographic Area').max().index

hierData = []

for cont in continents:
    children = NLcount[NLcount['Geographic Area'] == cont][['name', 'num']].to_dict(orient='records')
    d1 = {'name': cont, 'children': children}
    hierData.append(d1)

[{'name': 'Africa',
  'children': [{'name': 'Kenya', 'num': 1},
   {'name': 'Nigeria', 'num': 1},
   {'name': 'South Africa', 'num': 11}]},
 {'name': 'Asia',
  'children': [{'name': 'Azerbaijan', 'num': 1},
   {'name': 'Bangladesh', 'num': 1},
   {'name': 'China', 'num': 8},
   {'name': 'East Timor', 'num': 2},
   {'name': 'Hong Kong', 'num': 1},
   {'name': 'India', 'num': 8},
   {'name': 'Japan', 'num': 22},
   {'name': 'Korea, South', 'num': 1},
   {'name': 'Myanmar (Burma)', 'num': 1},
   {'name': 'Pakistan', 'num': 2},
   {'name': 'Taiwan', 'num': 1},
   {'name': 'Vietnam', 'num': 1}]},
 {'name': 'Europe',
  'children': [{'name': 'Austria', 'num': 21},
   {'name': 'Belarus', 'num': 4},
   {'name': 'Belgium', 'num': 11},
   {'name': 'Bosnia and Herzegovina', 'num': 2},
   {'name': 'Bulgaria', 'num': 1},
   {'name': 'Croatia', 'num': 1},
   {'name': 'Cyprus', 'num': 1},
   {'name': 'Czech Republic', 'num': 5},
   {'name': 'Denmark', 'num': 13},
   {'name': 'Faroe Islands', 'num': 1},
   {'name': 'Finland', 'num': 4},
   {'name': 'France', 'num': 67},
   {'name': 'Germany', 'num': 102},
   {'name': 'Ghana', 'num': 1},
   {'name': 'Greece', 'num': 2},
   {'name': 'Hungary', 'num': 12},
   {'name': 'Iceland', 'num': 1},
   {'name': 'Ireland', 'num': 10},
   {'name': 'Italy', 'num': 20},
   {'name': 'Latvia', 'num': 1},
   {'name': 'Liberia', 'num': 2},
   {'name': 'Lithuania', 'num': 4},
   {'name': 'Luxembourg', 'num': 2},
   {'name': 'Netherlands', 'num': 19},
   {'name': 'Norway', 'num': 13},
   {'name': 'Poland', 'num': 16},
   {'name': 'Portugal', 'num': 4},
   {'name': 'Republic of Macedonia', 'num': 1},
   {'name': 'Romania', 'num': 4},
   {'name': 'Russia', 'num': 28},
   {'name': 'Serbia', 'num': 2},
   {'name': 'Slovenia', 'num': 1},
   {'name': 'Spain', 'num': 7},
   {'name': 'Sweden', 'num': 30},
   {'name': 'Switzerland', 'num': 26},
   {'name': 'Ukraine', 'num': 5},
   {'name': 'United Kingdom', 'num': 115}]},
 {'name': 'Middle East',
  'children': [{'name': 'Egypt', 'num': 4},
   {'name': 'Iran', 'num': 1},
   {'name': 'Israel', 'num': 12},
   {'name': 'Palestine', 'num': 1},
   {'name': 'Turkey', 'num': 1},
   {'name': 'Yemen', 'num': 1}]},
 {'name': 'North America',
  'children': [{'name': 'Canada', 'num': 23},
   {'name': 'Mexico', 'num': 3},
   {'name': 'United States', 'num': 353}]},
 {'name': 'Oceania',
  'children': [{'name': 'Australia', 'num': 13},
   {'name': 'New Zealand', 'num': 3}]},
 {'name': 'South America',
  'children': [{'name': 'Argentina', 'num': 5},
   {'name': 'Chile', 'num': 2},
   {'name': 'Colombia', 'num': 1},
   {'name': 'Costa Rica', 'num': 1},
   {'name': 'Guatemala', 'num': 2},
   {'name': 'Peru', 'num': 1},
   {'name': 'Saint Lucia', 'num': 2},
   {'name': 'Trinidad and Tobago', 'num': 1},
   {'name': 'Venezuela', 'num': 1}]}]

In [123]:
with open('hierData.json', 'w') as f:
    json.dump(hierData, f)